@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

body {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f7cdd0;
    font-size: 1.6em;
    margin-bottom: 25px;
}

.logo {
    width:300px;
    height: auto;
    padding: 5px;
}

nav {
    display: flex;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #587d71;
    padding: 75px;
}
nav a:hover {
    background-color:#f9eccc;
    color:#587d71;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.container {
    margin-top: 30px;
}

.container .left, .container .right {
    padding: 20px;
    border: 1px solid #ddd;
}

.left {
    grid-column: 1/2;
    grid-row: 1/3;
}

.lefty {
    margin-top: 10px;
    grid-column: 2/3;
    grid-row: 1/3;
}

.right {
    margin-top: 160px;
    grid-column: 1/2;
    grid-row: 3/5;
}

.righty {
    margin-top: 160px;
    grid-column: 2/3;
    grid-row: 3/5;
}

.container img {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 40px;
    font-family: Kaushan script;
    color: #587d71;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.wedding {
    font-size: 25px;
    font-family: Kaushan script;
    color: #587d71;
}

.demo {
    font-family: kaushan script;
    font-size: 25px;
    color: #587d71;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    background-color: #587d71;
}

footer a:hover {
    color:#f7cdd0;

}

.social {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.social a {
    margin-right: 10px;
}

footer p {
    margin: 5px 0;
    color: #f9eccc;
    font-size: 1.2em;
}

footer a {
    text-decoration: none;
    color: #f9eccc;
}

/* Starting portfolio page */

* {
    box-sizing: border-box;
  }

  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 20px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 100%;
    display: none; /* Hide columns by default */
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: #f9eccc;
    padding: 25px;
    font-size: 20px;
    font-family: Poppins;
    color: #587d71;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;

  }
  


/* Starting FAQ page  */


h1 {
    font-size: 40px;
    font-family: Kaushan script;
    color: #587d71;
    padding: 20px;
    text-align: center;
}

.image-container-left {
    grid-column: 1/2;
    grid-row: 2/3;
}

.image-container-right {
    grid-column: 2/3;
    grid-row: 2/3;
}

.image-container-left, .image-container-right {
    grid-gap: 20px;
    margin-top: 20px;
}

.accordion-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}

.accordion {
    background-color: #f9eccc;
    color: #587d71;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, 
  .accordion:hover {
    background-color: #f7cdd0;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: #f7cdd0;
    color: #587d71;
    display: none;
    overflow: hidden;
  }